@import url('https://fonts.googleapis.com/css2?family=Josefin+Sans&family=Lato:wght@400;700&family=Montserrat:wght@400;500;600;700&display=swap');

.container {
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.box {
  height: 70vh;
  width: 80vh;
  display: flex;
  flex-direction: column;
  /* Ensure column-wise layout */
  justify-content: center;
  align-items: center;
  /* Center items in the column */
  border-radius: 10px;
}

.content {
  text-align: center;
  .shortlink {
      color: white;
      font-family: Montserrat, sans-serif;
      font-size: 12px;
      letter-spacing: 2px;
      text-align: center;
      font-weight: 500;
      opacity: 0.8;
  
      a {
        color: white;
        text-decoration: none;
        font-weight: 600;
      }
  
      @media (min-width: 768px) {
        font-size: 14px;
      }
  
      @media (min-width: 1024px) {
        font-size: 16px;
      }
  
      @media (min-width: 1280px) {
        font-size: 18px;
      }
    }

  h1 {
    color: white;
    font-family: Montserrat;
    font-size: 80px;
    /* increased by 10px */
    letter-spacing: 5px;
    margin-bottom: -10px;
    margin-top: 0px;

    @media screen and (max-width: 768px) {
      font-size: 50px;
      /* increased by 10px */
    }

    @media screen and (max-width: 480px) {
      font-size: 40px;
      /* increased by 10px */
    }
  }

  p {
    color: white;
    margin-top: 0px;
    font-family: Montserrat;
    font-size: 35px;
    /* increased by 10px */
    letter-spacing: 4px;
    text-align: center;
    font-weight: 500;
    opacity: 0.8;

    @media screen and (max-width: 768px) {
      margin-top: 5px;
      font-size: 28px;
      /* increased by 10px */
    }

    @media screen and (max-width: 480px) {
      margin-top: 5px;
      font-size: 20px;
      /* increased by 10px */
    }
  }

  .upload {
    position: relative;
    padding: 1em 1.8em;
    margin-top: -10px;
    /* increased padding */
    border-radius: 40px;
    border: none;
    color: #fff;
    cursor: pointer;
    background-color: #ff9602;
    transition: all 0.2s ease;
    font-weight: bold;
    font-size: 15px;
    letter-spacing: 1px;
  }

  .upload:active {
    transform: scale(0.96);
  }

  .upload:before,
  .upload:after {
    position: absolute;
    content: "";
    width: 150%;
    left: 50%;
    height: 100%;
    transform: translateX(-50%);
    z-index: -1000;
    background-repeat: no-repeat;
  }

  

  .scanner {
    margin-top: 20px;

    img {
      height: 180px;
      /* increased by 10px */
      width: 180px;
      /* increased by 10px */
      border-radius: 10px;
      opacity: 0.8;
    }
  }

  .download {
    --primary-color: #645bff;
    --secondary-color: #fff;
    --hover-color: #111;
    --arrow-width: 10px;
    --arrow-stroke: 2px;
    letter-spacing: 1px;
    box-sizing: border-box;
    border: 0;
    border-radius: 20px;
    font-weight: bold;
    font-size: 15px;
    margin: 20px auto;
    color: var(--secondary-color);
    padding: 1em 1.8em;
    background: var(--primary-color);
    display: flex;
    transition: 0.2s background;
    align-items: center;
    gap: 0.6em;
  }

  .download .arrow-wrapper {
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .download .arrow {
    margin-top: 1px;
    width: var(--arrow-width);
    background: var(--primary-color);
    height: var(--arrow-stroke);
    position: relative;
    transition: 0.2s;
  }

  .download .arrow::before {
    content: "";
    box-sizing: border-box;
    position: absolute;
    border: solid var(--secondary-color);
    border-width: 0 var(--arrow-stroke) var(--arrow-stroke) 0;
    display: inline-block;
    top: -3px;
    right: 3px;
    transition: 0.2s;
    padding: 3px;
    transform: rotate(-45deg);
  }

  .download:hover {
    background-color: var(--hover-color);
  }

  .download:hover .arrow {
    background: var(--secondary-color);
  }

  .download:hover .arrow:before {
    right: 0;
  }

  .loading-spinner {
    margin: auto;
    margin-top: 20px;
    height: 160px;
    /* increased by 10px */
    width: 160px;
    /* increased by 10px */
  }
}

.bg{
  @keyframes animate {
      0% {
        transform: translateY(0) rotate(0deg);
        opacity: 1;
        border-radius: 0;
      }
  
      100% {
        transform: translateY(-1000px) rotate(720deg);
        opacity: 0;
        border-radius: 50%;
      }
    }
  
    .background {
      position: fixed;
      width: 100vw;
      height: 100vh;
      top: 0;
      left: 0;
      margin: 0;
      padding: 0;
      background: #4e54c8;
      overflow: hidden;
      z-index: -1;
    }
  
    .background li {
      position: absolute;
      display: block;
      list-style: none;
      width: 20px;
      height: 20px;
      background: rgba(255, 255, 255, 0.2);
      animation: animate 16s linear infinite;
    }
  
  
  
  
    .background li:nth-child(0) {
      left: 64%;
      width: 135px;
      height: 135px;
      bottom: -135px;
      animation-delay: 1s;
    }
  
    .background li:nth-child(1) {
      left: 76%;
      width: 105px;
      height: 105px;
      bottom: -105px;
      animation-delay: 5s;
    }
  
    .background li:nth-child(2) {
      left: 2%;
      width: 184px;
      height: 184px;
      bottom: -184px;
      animation-delay: 8s;
    }
  
    .background li:nth-child(3) {
      left: 3%;
      width: 130px;
      height: 130px;
      bottom: -130px;
      animation-delay: 10s;
    }
  
    .background li:nth-child(4) {
      left: 54%;
      width: 161px;
      height: 161px;
      bottom: -161px;
      animation-delay: 11s;
    }
  
    .background li:nth-child(5) {
      left: 6%;
      width: 197px;
      height: 197px;
      bottom: -197px;
      animation-delay: 21s;
    }
  
    .background li:nth-child(6) {
      left: 69%;
      width: 174px;
      height: 174px;
      bottom: -174px;
      animation-delay: 3s;
    }
  
    .background li:nth-child(7) {
      left: 1%;
      width: 131px;
      height: 131px;
      bottom: -131px;
      animation-delay: 26s;
    }
  
    .background li:nth-child(8) {
      left: 8%;
      width: 142px;
      height: 142px;
      bottom: -142px;
      animation-delay: 35s;
    }
  
    .background li:nth-child(9) {
      left: 11%;
      width: 136px;
      height: 136px;
      bottom: -136px;
      animation-delay: 39s;
    }
  
    .background li:nth-child(10) {
      left: 81%;
      width: 166px;
      height: 166px;
      bottom: -166px;
      animation-delay: 11s;
    }
  
    .background li:nth-child(11) {
      left: 52%;
      width: 158px;
      height: 158px;
      bottom: -158px;
      animation-delay: 28s;
    }
}